body{
  background-image: url("../../Pictures/HALF MOON HOTEL/HOTEl.jpg");
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  background-size: cover;
  align-self: center;

}
.btn{
  /*align: center;*/
  position: absolute;
width: 200px;
height: 76px;
left: 400px;
top: 600px;
background-color: #08234F;
border-radius:50px;
cursor: pointer;
}
div{
  position: absolute;
width: 930px;
height: 1106px;
left: 990px;
top: -26px;

background: rgba(1, 34, 80, 0.89);
border-radius: 8

}
#job{
  position: absolute;
width: 990px;
height: 1080px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.74);

}
h1{
  position: absolute;
width: 621px;
height: 84px;
left: 179px;
top: 142px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #FFFFFF;
}
.nm{
  align-content: center;
  position: absolute;
width: 559px;
height: 76px;
left: 216px;
top: 350px;
border-radius:50px;
}
.pas{
  align-content: center;
  position: absolute;
width: 559px;
height: 76px;
left: 216px;
top: 480px;
border-radius:50px;
}
.shop{
  position: absolute;
width: 621px;
height: 84px;
left: 179px;
top: 670px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 116px;
text-align: center;

color: #FFFFFF;

}

.bs{

color: #518EE7;
position: absolute;
width: 328px;
height: 66px;
left: 314px;
top: 666px;
cursor: pointer;
}
.pl{

  font-family: 'Inter';
  text-align: center;
  height: 500px;
  color: #FFFFFF;
  font-size: 30px;
  height: 500px;
}
.phot{
  height:440px;
  width:900px;
  left: 0px;
  top: 100px;
 position: static;
/* position: absolute;
width: 467px;
height: 172px;
left: 1232px;
top: 120px;*/
}
.b{
  background-image: url("../../Pictures/HALF MOON HOTEL/ROOMA.jpg");
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  background-size: cover;
  align-self: center;

}
.fame{

}
/*.rhulani{
 position: absolute;
width: 100px;
height:100px;
left: 100px;
top: 100px;

background: rgba(1, 36, 92, 0.66);
border-radius: 3px;

}*/
.he{
  position: absolute;
width: 634px;
height: 155px;
left: 600px;
top: 9px;

font-family: 'Inter';
font-style: normal;
font-weight: 8;
font-size: 46px;
line-height: 155px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.sj{
  position: absolute;
width: 1000px;
height: 1090px;
left: 900px;
top: 0px;

/*background: rgba(0, 0, 0, 0.74);*/
  background: rgba(22, 26, 32, 0.74);
}
.ab{
  position: absolute;
width: 500px;
height: 60px;
left: 220px;
top: 110px;
border-radius: 60px
}
.bc{
  position: absolute;
width: 500px;
height: 60px;
left: 220px;
top: 220px;
border-radius: 60px
}
.cd{
  position: absolute;
width: 500px;
height: 60px;
left: 220px;
top: 340px;
border-radius: 60px
}
.de{
  position: absolute;
width: 500px;
height: 60px;
left: 220px;
top: 460px;
border-radius: 60px
}
.ef{
  position: absolute;
width: 200px;
height: 80px;
left: 650px;
top: 700px;
/*border-radius: 60px;*/
cursor: pointer;
}
.tj{
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: 450px;
  top: 54px;
border-radius: 31px
}
.kg{
  position: absolute;
width: 900px;
height: 1090px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.74);
}
.xivo{
/*  width: 900px;
  height: 500px;*/
  position: absolute;
width: 800px;
height: 500px;
left: 1310px;
top: -120px;
}
.rop{
position: absolute;
  width: 500px;
  height: 500px;
  top:-120px;
  left: 50px;
}
.boy{
  left: 500px;
  top: 10px;
  font-family: sans-serif;
  font-style: oblique;
  color: #518EE7;
}
.joke{
  position: absolute;
  width: 200px;
  height: 100px;
  left: 100px;
  top: 300px;
  cursor: pointer;
  font-size: 26px;
}
.kay{
  background: gray;
}
.d1{
  font-size:12px;
  top: 10px;

}
.mother{
flex-wrap: wrap;
}
